#Area1 {display: none; position: relative; height: 100%;
width: 600px; float: none;}

#Area2  {display: none; position: relative; height: 100%;
width: 600px; float: none;}

#Area3 {display: none; position: relative; height: 100%;
width: 600px; float: none;}

footer {position: relative; width: 100%; bottom: 0;
font-style: italic;
text-align: center;
background-color: rgb(255,105,180);
}


table { border: 2px solid; table-layout: auto; border-color: black; padding: 2px; text-align: center;}